<section>
    <form>
        <div class="form-group">
            <label {{bind-attr for="view.departmentName.elementId"}}>Department</label>
            {{input type="text" value=model.department.name viewName="departmentName" class="form-control"}}
        </div>
        <div class="form-group">
            <label {{bind-attr for="view.contactName.elementId"}}>Contact</label>
            {{input type="text" value=model.department.contact.name viewName="contactName" class="form-control"}}
        </div>
        <div class="form-group">
            <label {{bind-attr for="view.message.elementId"}}>Message</label>
            {{input type="text" value=model.message viewName="message" class="form-control"}}
        </div>
        <div class="form-group">
            <label {{bind-attr for="view.state.elementId"}}>State</label>
            {{input type="text" value=model.state viewName="state" class="form-control"}}
        </div>
    </form>
</section>