<section class="row">
    <form class="col-md-6">
        <div class="form-group">
            <label class="control-label">Title</label>
            {{input type="text" value=model.title viewName="title" class="form-control"}}
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            {{input type="text" value=model.description viewName="description" class="form-control"}}
        </div>
        <div class="form-group">
            <label class="control-label">Start Date</label>
            {{date-picker date=model.startDate name="startDate" updateDate='updateDate' registerElement='registerElement'}}
        </div>
        <div class="form-group">
            <label class="control-label">End Date</label>
            {{date-picker date=model.endDate name="endDate" updateDate='updateDate' registerElement='registerElement'}}
        </div>
        <div class="form-group">
            <label class="control-label">Publish to</label>
            <select multiple class="form-control">
                {{#each model.destinations as |item|}}
                <option>{{item.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
        {{spin-button isLoading=isLoading buttonText=buttonText action='saveData'}}
        {{#link-to 'status.detail' model.id}}<button class="btn btn-danger">Revert Changes</button>{{/link-to}}
        </div>
    </form>
</section>
