<div class="space">
<article>
    <section class="row">
        <ul class="well col-md-offset-3 col-md-6" style="background-color:#FCFCFC;">
            <li style="text-align:right; margin-bottom: 0;">{{#link-to 'status.detail.edit' model.id}}edit{{/link-to}}</li>
            <li><h3 style="margin-top:0;"><strong>{{model.title}}</strong></h3></li>
            <li>{{model.description}}</li>
            <li><a href={{model.url}}>{{model.url}}</a></li>
            <li><b><span style="color:green;">{{formattedStartDate}}</span> - <span style="color:red">{{formattedEndDate}}</span></b></li>
            <li>{{#link-to 'status.detail.edit' model.id}}edit{{/link-to}}</li>
        </ul>
    </section>
    {{liquid-outlet}}
</article>
</div>