<article>
    <section class="row">
        <ul class="well col-md-6">
            <li><h3>{{model.title}}</h3></li>
            <li>{{model.description}}</li>
            <Li>Published on: {{#each model.destinations as |item|}}{{item.name}}{{/each}}</li>
            <li><small>{{model.startDate}} - {{model.endDate}}</small></li>
            <li>{{#link-to 'status.detail.edit' model.id}}edit{{/link-to}}</li>
        </ul>
    </section>
    {{liquid-outlet}}
</article>
