<article>
    <section>
    {{#each status in model}}
        <ul class="list-group">
            <li class="list-group-item">{{status.department.name}}</li>
            <li class="list-group-item">{{status.department.contact.name}}</li>
            <li class="list-group-item">{{status.message}}</li>
            <li class="list-group-item">{{status.state}}</li>
        </ul>
    {{/each}}
    </section>
</article>
{{outlet}}
